section {
    width: 100%;
    margin: 0 auto;
}

.my-48 {
    margin: toRem(48) 0;
}

.mt-48 {
    margin-top: toRem(48);
}

.mb-48 {
    margin-bottom: toRem(48);
}

.mx-48 {
    margin: 0 toRem(48);
}

.mr-48 {
    margin-right: toRem(48);
}

.ml-48 {
    margin-left: toRem(48);
}

.my-40 {
    margin: toRem(40) 0;
}

.mt-40 {
    margin-top: toRem(40);
}

.mb-40 {
    margin-bottom: toRem(40);
}

.mx-40 {
    margin: 0 toRem(40);
}

.mr-40 {
    margin-right: toRem(40);
}

.ml-40 {
    margin-left: toRem(40);
}

.my-32 {
    margin: toRem(32) 0;
}

.mt-32 {
    margin-top: toRem(32);
}

.mb-32 {
    margin-bottom: toRem(32);
}

.mx-32 {
    margin: 0 toRem(32);
}

.mr-32 {
    margin-right: toRem(32);
}

.ml-32 {
    margin-left: toRem(32);
}

.my-28 {
    margin: toRem(28) 0;
}

.mt-28 {
    margin-top: toRem(28);
}

.mb-28 {
    margin-bottom: toRem(28);
}

.mx-28 {
    margin: 0 toRem(28);
}

.mr-28 {
    margin-right: toRem(28);
}

.ml-28 {
    margin-left: toRem(28);
}

.my-24 {
    margin: toRem(24) 0;
}

.mt-24 {
    margin-top: toRem(24);
}

.mb-24 {
    margin-bottom: toRem(24);
}

.mx-24 {
    margin: 0 toRem(24);
}

.mr-24 {
    margin-right: toRem(24);
}

.ml-24 {
    margin-left: toRem(24);
}

.my-24 {
    margin: toRem(24) 0;
}

.mt-20 {
    margin-top: toRem(20);
}

.mb-20 {
    margin-bottom: toRem(20);
}

.mx-20 {
    margin: 0 toRem(20);
}

.mr-20 {
    margin-right: toRem(20);
}

.ml-20 {
    margin-left: toRem(20);
}

.my-16 {
    margin: toRem(16) 0;
}

.mt-16 {
    margin-top: toRem(16);
}

.mb-16 {
    margin-bottom: toRem(16);
}

.mx-16 {
    margin: 0 toRem(16);
}

.mr-16 {
    margin-right: toRem(16);
}

.ml-16 {
    margin-left: toRem(16);
}

.space {
    height: toRem(74);
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid $color-neutral-40;
    border-radius: 2px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    transition: color .2s ease, background-color .1s ease;
}

input[type="checkbox"]:hover {
    border: 1px solid $color-action-hover;
}

input[type="checkbox"]:checked {
    background-color: $color-action-hover;
    border: 1px solid $color-action-hover;
    background-image: url('../images/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    border: 1px solid $color-neutral-40;
    border-radius: 50%;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    transition: color .2s ease, background-color .1s ease;
}

input[type="radio"]:hover {
    border: 1px solid $color-action-hover;
}

input[type="radio"]:checked {
    width: 16px;
    height: 16px;
    border: 1px solid $color-action-hover;
    border-radius: 50%;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65%;
        height: 65%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $color-action-hover;
    }
}

.table{
    th{
        font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        padding-top: toRem(24);
        padding-bottom: toRem(16);
        font-weight: 500;
    }
}

a,
a:link {
    text-decoration: none;
    color: $color-action-default;
    text-decoration-line: underline;
}

a:hover {
    color: $color-action-hover;
}

a:focus,
a:active {
    color: $color-action-press;
}

.badge {
    padding: 5.5px 8px;
    border-radius: 32px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;

    &-upcoming {
        background-color: $color-light-accent-orange;
        color: $color-brand-secondary;
    }

    &-success {
        background-color: $color-light-accent-green;
        color: $color-accent-green;
    }

    &-rating {
        padding: toRem(18) toRem(10);
        background-color: $color-light-accent-orange;
        color: $color-brand-secondary;
        width: 60px;
        height: 60px;
        font-size: 24px;
        text-align: center;
    }
}

.text {
    &-success {
        color: $color-action-default !important;
    }

    &-rating {
        color: $color-brand-secondary !important;
    }

    &-muted {
        color: $color-neutral-40 !important;
    }
}

.container {
    width: 100%;
    max-width: 1374px;
    padding-left: 15px;
    padding-right: 15px;

    @include media-query(lg) {
        max-width: 1140px;
    }

    @include media-query(md-2) {
        max-width: 960px;
    }

    @include media-query(md) {
        max-width: 720px;
    }

    @include media-query(sm) {
        max-width: 540px;
    }
}
