.section {
    width: 100%;

    &-calendar{
        &__gallery--mini > *:not(:last-child) {
            margin-right: toRem(24);
        }
    }

    &-highlight {
        &__gallery > *:not(:last-child) {
            margin-right: toRem(24);
        }
    
        &__gallery {
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
    
    &-upcoming {
        &__header{
            margin-bottom: toRem(24);
        }
    }
}

.picture {
    position: relative;

    &.picture-secondary {
        flex: 0 0 auto;
        width: 25%;
        max-width: toRem(317.25);
        margin-bottom: toRem(32);
        .picture__img{
            width: 100%;
            max-height: toRem(243);
        }
    }

    &.picture-sm {
        margin: 0;

        .picture__img {
            width: toRem(64);
            height: toRem(64);
            margin-right: toRem(24);
            margin-bottom: 0;
        }

        .caption-title {
            font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        }
    }

    &__img{
        margin-bottom: toRem(16);
    }

    .caption-title {
        font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    }

    .caption-desc, .caption-price {
        color: $color-neutral-60;
    }

    .caption-rating {
        color: $color-brand-tertiary;
    }

    &__caption--text-2 {
        position: absolute;
        top: toRem(24);
        left: toRem(24);
        color: $color-neutral-0;

        .caption-time {
            font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
            font-weight: 500;
        }
    }
}