.section {
    width: 100%;

    &-calendar{
        @include media-query(md) {
            margin-bottom: 24px;
        }
        &__title {
            @include media-query(md) {
                margin: 0;
                margin-top: 16px;
                margin-bottom: 24px;
                font-size: 28px;
            }
        }
        &__gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;

            &--left {
                @include media-query(md) {
                    margin: 0;
                    margin-right: 16px;
                }
            }

            &--right {
                @include media-query(md) {
                    display: flex;
                    flex-direction: row;
                }
            }

            &--right > *:first-child {
                @include media-query(md) {
                    margin: 0;
                    margin-right: 16px;
                }
                margin-bottom: 24px;
            }

            &--mini{
                display: flex;
                flex-direction: row;

                & > *:not(:last-child) {
                    @include media-query(md) {
                        margin-right: 16px;
                    }
                    margin-right: 24px;
                }
            }

            .picture {
                @include media-query(md) {
                    flex: 0 0 auto;
                    width: 100%;
                    height: 294px;
                    max-width: 343px;
                    margin-bottom: 24px;
                }

                &__img {
                    @include media-query(md) {
                        width: 100%;
                        height: 294px;
                        min-width: 343px;
                    }
                }
            }
        }
    }

    &-highlight {
        &__title {
            @include media-query(md) {
                margin: 0;
                margin-top: 16px;
                margin-bottom: 16px;
                font-size: 24px;
            }
        }

        &__gallery > *:not(:last-child) {
            margin-right: toRem(24);
            @include media-query(md) {
                margin: 0;
                margin-right: toRem(16);
            }
        }
    
        &__gallery {
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
    
    &-upcoming {
        &__header{
            margin-bottom: toRem(24);

            @include media-query(sm) {
                margin-bottom: 16px;
            }
        }

        &__col {
            &--title {
                @include media-query(sm) {
                    margin-bottom: 16px;
                }
                @include media-query(lg, min) {
                    flex-basis: 19.5%;
                    max-width: none;
                    padding-right: 0;
                }
            }

            &--title, &--search {
                @include media-query(lg) {
                    margin-bottom: 16px;
                }
            }

            &--search {
                @include media-query(sm) {
                    padding-right: 0;
                }

                @include media-query(xs-1) {
                    flex: 0 0 79.333333%;
                    max-width: 79.333333%;
                }

                .search-box {
                    margin-left: 0;
                    @include media-query(lg) {
                        width: 100%;
                        max-width: none;
                    }

                    &__input {
                        @include media-query(xl) {
                            width: 90%;
                        }
                        @include media-query(md) {
                            width: 85%;
                        }
                    }
                }

                @include media-query(lg, min) {
                    padding: 0;
                    margin-right: auto;
                }
            }

            &--platform, &--category, &--sort {
                & > * > .dropdown-toggle-1, & > * > .dropdown-menu {
                    @include media-query(lg) {
                        width: 100%;
                        max-width: none;
                    }
                }

                @include media-query(lg, min) {
                    flex-grow: 0;
                }
            }

            &--platform {
                @include media-query(lg) {
                    padding-right: 0;
                }
                @include media-query(lg, min) {
                    padding: 0;
                    padding-right: 8px;
                }
            }

            &--category {
                padding-right: 15px;
                @include media-query(lg) {
                    padding-right: 0;
                }
                @include media-query(sm) {
                    padding-right: 15px;
                }
                @include media-query(lg, min) {
                    padding: 0;
                    padding-right: 8px;
                }
            }

            &--sort {
                @include media-query(lg, min) {
                    padding-left: 0;
                }

                @include media-query(sm) {
                    padding-left: 0;
                }

                @include media-query(xs-1) {
                    flex: 0 0 20.666667%;
                    max-width: 20.666667%;
                }

                .dropdown {
                    &-toggle {
                        @include media-query(sm) {
                            padding: 12px;
                        }
                        img {
                            display: none;
                            
                            @include media-query(sm) {
                                display: block;
                                margin: 0 auto;
                            }
                        }

                        .text {
                            @include media-query(sm) {
                                display: none;
                            }
                        }

                        &::after {
                            @include media-query(sm) {
                                content: '';
                            }
                        }
                    }
                    &-menu {
                        @include media-query(sm) {
                            width: 177.219px;
                        }
                    }
                }
            }

            &--category, &--sort {
                @include media-query(lg) {
                    padding-left: 8px;
                }
            }

            &--sort, &--search {
                @include media-query(sm) {
                    margin-bottom: 8px;
                }
            }
        }

        &__body {
            .nav.nav-pills {
                @include media-query(sm) {
                    border-bottom: none;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 16px;
                }

                & > *:not(:last-child){
                    @include media-query(sm){
                        padding-right: 8px;
                    }
                }
                .nav-item {
                    @include media-query(sm) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
                .nav-link {
                    @include media-query(sm) {
                        padding-bottom: 0;
                        padding: toRem(10) toRem(16);
                        border: 1px solid $color-neutral-20;
                        border-radius: 5px;
                        text-align: center;
                    }
    
                    &.active {
                        @include media-query(sm) {
                            border-bottom: none;
                            background-color: $color-action-default;
                            color: $color-neutral-0;
                        }
                    }
    
                    &:hover {
                        @include media-query(sm) {
                            border-bottom: none;
                            background-color: $color-action-default;
                            color: $color-neutral-0;
                        }
                    }
                }
                
            }
        }

        &__table {
            margin-bottom: 0;
            thead {
                @include media-query(md-1){
                    display: none;
                }
            }

            tbody {
                & > tr > td:not(:first-child) {
                    @include media-query(md-1){
                        display: none;
                    }
                }
                tr {
                    &:last-child > td.selected ~ td:last-child {
                        @include media-query(md-1){
                            border-bottom: 1px solid $color-neutral-20;
                        }
                    }
                    .img-table {
                        margin-right: 4px;
                    }
                    button {
                        display: inline;
                    }
                    .button-img {
                        vertical-align: unset;
                        margin-left: 4px;
                    }
                    td:first-child {
                        @include media-query(md-1){
                            padding: toRem(12) toRem(16);
                            position: relative;
                            display: block;
                        }

                        &::after {
                            @include media-query(md-1){
                                border: none;
                                font-family: 'Font Awesome 5 Free';
                                content: '\f078';
                                font-weight: 900;
                                color: $color-neutral-100;
                                font-size: 12px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 14px;
                                display: inline-block;
                                box-sizing: border-box;
                                transition: all .5s ease;
                                backface-visibility: hidden;
                                margin: 0;
                            }
                        }

                        &.selected{
                            @include media-query(md-1){
                                background-color: $color-light-accent-green;
                            }

                            &::after {
                                @include media-query(md-1){
                                    transform: translateY(-50%) rotate(-180deg);
                                }
                            }

                            & ~ td {
                                @include media-query(md-1){
                                    border: none;
                                    display: flex;
                                    flex-direction: row;
                                }
                            }
                        }

                        &:hover {
                            @include media-query(md-1){
                                background-color: $color-light-accent-green;
                            }
                        }
                    }
                    td:nth-child(2)::before {
                        @include media-query(md-1){
                            content: 'Name\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(3)::before {
                        @include media-query(md-1){
                            content: 'NFT ID\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(4)::before {
                        @include media-query(md-1){
                            content: 'Date\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(5)::before {
                        @include media-query(md-1){
                            content: 'Platform\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(6)::before {
                        @include media-query(md-1){
                            content: 'Artist\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(7)::before {
                        @include media-query(md-1){
                            content: 'Cost\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(8)::before {
                        @include media-query(md-1){
                            content: 'Twitter\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                    td:nth-child(9)::before {
                        @include media-query(md-1){
                            content: 'Discord\0009\0009:\0009';
                            color: $color-neutral-60;
                            white-space: pre;
                        }
                    }
                }
            }
        }

        &__button-pagination {
            .custom-pagination {
                display: none;
                @include media-query(md-1){
                    display: flex;
                }
            }
            .btn {
                @include media-query(md-1){
                    display: none;
                }
            }
        }
    }
}

.picture {
    position: relative;

    a{
        text-decoration: none;

        .picture__caption--text-1:hover,
        .picture__caption--text-1:active {
            text-decoration: underline;
        }
    }

    .caption-title {
        font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    }

    .caption-desc, .caption-price {
        color: $color-neutral-60;
    }

    .caption-rating {
        color: $color-brand-tertiary;
    }

    &__caption--text-1 {
        color: $color-neutral-100;
        margin-top: toRem(16);
        z-index: 5;
        @include media-query(md) {
            margin-top: 0;
            position: absolute;
            bottom: toRem(16);
            left: toRem(16);
            color: $color-neutral-0;
        }

        .caption-title {
            @include media-query(md) {
                font-family: 'Satoshi-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
                font-size: 24px;
                color: inherit;
            }
        }

        .caption-desc, .caption-price {
            @include media-query(md) {
                color: inherit;
            }
        }
    
        .caption-rating {
            @include media-query(md) {
                color: inherit;
            }
        }
    }

    &__caption--text-2 {
        z-index: 5;
        position: absolute;
        top: toRem(24);
        left: toRem(24);
        color: $color-neutral-0;
        @include media-query(md-2) {
            top: toRem(16);
            left: toRem(16);
        }

        .caption-time {
            font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        }

        img{
            vertical-align: top;
        }

        .launch-text {
            @include media-query(md){
                display: none;
            }
        }
    }
}

.picture-secondary {
    position: relative;
    flex: 0 0 auto;
    width: 25%;
    max-width: toRem(317.25);
    margin-bottom: toRem(32);
    @include media-query(md) {
        flex: 0 0 auto;
        width: 100%;
        max-width: 199px;
        height: 100%;
        max-height: toRem(194);
        margin-bottom: 24px;
    }

    a{
        text-decoration: none;

        .picture-secondary__caption--text-1:hover,
        .picture-secondary__caption--text-1:active {
            text-decoration: underline;
        }
    }

    &__img{
        width: 100%;
        max-height: toRem(243);
        @include media-query(md) {
            width: 100%;
            height: 100%;
            max-height: toRem(194);
            min-width: 199px;
        }
    }

    .caption-title {
        font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    }

    .caption-desc, .caption-price {
        color: $color-neutral-60;
    }

    .caption-rating {
        color: $color-brand-tertiary;
    }

    &__caption--text-1 {
        color: $color-neutral-100;
        margin-top: toRem(16);
        z-index: 5;
        @include media-query(md) {
            margin-top: 0;
            position: absolute;
            bottom: toRem(16);
            left: toRem(16);
            color: $color-neutral-0;
        }

        .caption-title {
            @include media-query(md) {
                font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
                font-size: 14px;
                color: inherit;
            }
        }

        .caption-desc, .caption-price {
            @include media-query(md) {
                color: inherit;
            }
        }
    
        .caption-rating {
            @include media-query(md) {
                color: inherit;
            }
        }
    }

    &__caption--text-2 {
        z-index: 5;
        position: absolute;
        top: toRem(24);
        left: toRem(24);
        color: $color-neutral-0;
        @include media-query(md-2) {
            top: toRem(16);
            left: toRem(16);
        }

        .caption-time {
            font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        }

        img{
            vertical-align: top;
        }
        .launch-text {
            @include media-query(md){
                display: none;
            }
        }
    }
}

.picture-sm {
    position: relative;
    margin: 0;

    .img-overlay::after {
        width: toRem(64);
        height: toRem(64);
    }

    .picture__img {
        width: toRem(64);
        height: toRem(64);
        margin-bottom: 0;
    }

    .caption-title {
        font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    }

    .caption-desc, .caption-price {
        color: $color-neutral-60;
    }

    .caption-rating {
        color: $color-brand-tertiary;
    }

    .picture__caption{
        margin-left: toRem(24);
    }
}

.img-overlay {
    z-index: 1;
    position:relative;
    &::after{
        content:'';
        position:absolute;
        left: 0; top: 0;
        width:100%;
        height:100%;
        display: inline-block;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%); /* W3C */
    }
}