.portfolio-header {
    padding: 32px 0;
}

.portfolio-heading {
    color: $color-neutral-100;
    font-family: 'Satoshi-Regular';
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 8px;
}

.portfolio-subheading {
    color: $color-neutral-60;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    line-height: 150%;
}

.featured {
    border-bottom: 1px solid $color-neutral-20;
    padding-bottom: 12px;

    &__heading {
        color: $color-neutral-100;
        font-family: 'Satoshi-Regular';
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 24px;
    }

    &__item-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        padding-bottom: 24px;
    }

    &__item {
        min-width: 204px;

        &:not(:last-child) {
            margin-right: 24px;
        }

        &-image {
            width: 100%;
            aspect-ratio: 1/1;
            margin-bottom: 8px;
        }

        &-title {
            color: $color-neutral-100;
            font-family: 'Poppins-Medium';
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 8px;
        }

        &-desc-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-desc {
            &--1 {
                color: $color-neutral-80;
                font-family: 'Poppins-Regular';
                font-size: 14px;
                line-height: 150%;
            }

            &--2 {
                color: $color-neutral-80;
                font-family: 'Poppins-Regular';
                font-size: 11px;
                line-height: 150%;
            }

            &--blue {
                color: #44A1F5;
            }

            &--red {
                color: $color-accent-red;
            }
        }
    }
}

.performance {
    border-bottom: 1px solid $color-neutral-20;
    padding-top: 32px;
    padding-bottom: 32px;

    &__heading {
        color: $color-neutral-100;
        font-family: 'Satoshi-Regular';
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 32px;
    }

    &__item-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid $color-neutral-20;
        border-radius: 5px;
        padding: 24px 0;

        @include media-query("md-2") {
            padding: 0 24px;
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__item {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0 24px;

        @include media-query("md-2") {
            padding: 24px 0;
        }

        &:not(:last-child) {
            border-right: 1px solid $color-neutral-20;

            @include media-query("md-2") {
                border-right: 0;
                border-bottom: 1px solid $color-neutral-20;
            }
        }

        &-image {
            height: 48px;
            aspect-ratio: 1/1;
            margin-right: 16px;
        }

        &-text-wrapper {
            flex-grow: 1;
        }

        &-text {
            &--1 {
                color: $color-neutral-60;
                font-family: 'Poppins-Regular';
                font-size: 14px;
                line-height: 150%;
            }

            &--2 {
                color: $color-neutral-100;
                font-family: 'Satoshi-Regular';
                font-size: 20px;
                line-height: 120%;
            }
        }
    }
}

.project {
    padding-top: 32px;
    padding-bottom: 32px;

    &__heading {
        color: $color-neutral-100;
        font-family: 'Satoshi-Regular';
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 32px;
    }

    &__search-box {
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        input {
            flex-grow: 1;
        }

        @include media-query('md-2', 'min') {
            width: 562px;
            margin-bottom: 0;
        }
    }

    &__filter {
        flex-grow: 1;
        margin-right: 0;

        @include media-query('md-2', 'min') {
            flex-grow: 0;
            margin-right: 8px;
        }

        &-btn {
            width: 100%;
            text-align: left;
            position: relative;

            &::after {
                position: absolute;
                right: 16px;
                top: 30%;
            }

            @include media-query('md-2', 'min') {
                width: 145px;
            }
        }
    }

    &__view-opt {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 5px;

        &.active {
            background-color: $color-action-default;
        }

        &-icon {
            width: 24px;
            height: 24px;
        }
    }

    &-table {
        border-collapse: separate;
        border-spacing: 0;
        border: none;
        margin: 0;

        &__thead-text-1 {
            color: $color-neutral-100;
            font-family: 'Poppins-Medium';
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 8px;
        }

        &__thead-text-2 {
            color: $color-neutral-60;
            font-family: 'Poppins-Regular';
            font-size: 14px;
            line-height: 150%;
        }

        >thead {
            tr {

                th,
                td {
                    background-color: #F4F3F3;
                    padding: 12px 16px;
                    border-width: 1px 0 1px 0;
                    border-color: $color-neutral-20;
                    border-style: solid;

                    &:first-child {
                        border-radius: 5px 0px 0px 0px;
                        padding-left: 24px;
                        border-width: 1px 0 1px 1px;
                    }

                    &:last-child {
                        border-radius: 0px 5px 0px 0px;
                        padding-right: 24px;
                        border-width: 1px 1px 1px 0;
                    }
                }
            }
        }

        >tbody {

            th,
            td {
                border-color: $color-neutral-20;
                border: 1px solid #dee2e6;
                border-width: 0 1px 1px 0;
                padding: 0;

                &:first-child {
                    border-width: 0 1px 1px 1px;
                }
            }

            tr:last-child {

                th,
                td {
                    &:first-child {
                        border-radius: 0 0 0 5px;
                    }

                    &:last-child {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }
    }

    &-side-content {
        height: 969px;
        display: flex;
        flex-direction: column;
        padding: 24px;

        &__title {
            color: $color-neutral-100;
            font-family: 'Poppins-Medium';
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 12px;
        }

        &__item-wrapper {
            flex-grow: 1;
            margin-right: -12px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            overflow-y: auto;
            padding-right: 12px;
            margin-bottom: 32px;
        }

        &__item {
            border: 1px solid $color-neutral-20;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 16px;

            &.active {
                border-color: $color-action-default;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &-image {
                height: 48px;
                aspect-ratio: 1/1;
                margin-right: 16px;
            }

            &-dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-neutral-60;
                margin: 0 8px;
            }

            &-text {

                &--1 {
                    color: $color-neutral-100;
                    font-family: 'Poppins-Medium';
                    font-size: 14px;
                    line-height: 150%;
                }

                &--2,
                &--3 {
                    color: $color-neutral-60;
                    font-family: 'Poppins-Regular';
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
    }

    &-main-content {
        height: 969px;
        display: flex;
        flex-direction: column;
        padding: 24px 0 0 0;

        &__title {
            color: $color-neutral-100;
            font-family: 'Satoshi-Regular';
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 24px;
            margin-left: 24px;
        }

        &__grid {
            padding: 0 24px;
            flex-grow: 1;
            position: relative;
            overflow-y: auto;
        }

        &-grid {
            &__item-wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 0 -12px;
            }

            &__item {
                flex: 0 0 33.333333%;
                min-width: 300px;
                padding: 0 12px;
                margin-bottom: 38px;

                &-image {
                    width: 100%;
                    aspect-ratio: 1/1;
                    margin-bottom: 16px;
                }

                &-title {
                    color: $color-neutral-100;
                    font-family: 'Poppins-Medium';
                    font-size: 14px;
                    line-height: 150%;
                    margin-bottom: 2px;
                }

                &-desc {
                    color: $color-neutral-60;
                    font-family: 'Poppins-Regular';
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }

        &__table {
            flex-grow: 1;
            position: relative;
            overflow-y: auto;
        }

        &-table {
            border-collapse: separate;
            border-spacing: 0;
            border: none;
            margin: 0;

            &__thead-text-1 {
                color: $color-neutral-100;
                font-family: 'Poppins-Medium';
                font-size: 14px;
                line-height: 150%;
                margin-bottom: 8px;
            }

            &__thead-text-2 {
                color: $color-neutral-60;
                font-family: 'Poppins-Regular';
                font-size: 14px;
                line-height: 150%;
                white-space: nowrap;
            }

            >thead {
                tr {

                    th,
                    td {
                        background-color: #F4F3F3;
                        padding: 10px 16px;
                        border: none;
                        border-bottom: 1px solid $color-neutral-20;
                        vertical-align: top;
                        position: sticky;
                        top: 0;

                        &:first-child {
                            padding-left: 24px;
                        }

                        &:nth-child(2) {
                            padding-left: 24px;
                        }
                    }
                }
            }

            >tbody {

                th,
                td {
                    border: none;
                    border-bottom: 1px solid $color-neutral-20;
                    padding: 12px 16px;
                    vertical-align: middle;

                    &:first-child {
                        padding-left: 24px;
                        text-align: right;
                    }

                    &:nth-child(2) {
                        padding-left: 24px;
                    }
                }

                tr:last-child {

                    th,
                    td {
                        &:first-child {
                            border-radius: 0 0 0 5px;
                        }

                        &:last-child {
                            border-radius: 0 0 5px 0;
                        }
                    }
                }
            }
        }
    }

    &-pagination {
        margin: 0;
        align-self: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &__item {
            width: 40px;
            height: 40px;
            list-style: none;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &-link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1.5px solid $color-neutral-20;
                border-radius: 5px;

                color: $color-neutral-100 !important;
                font-family: 'Poppins-Medium';
                font-size: 14px;
                line-height: 150%;
                text-decoration: none !important;

                &:hover {
                    border-color: $color-action-default;
                    color: $color-action-default !important;
                }

                &.active {
                    border-color: $color-action-default;
                    background-color: $color-action-default;
                    color: $color-neutral-0 !important;
                }

                &.disabled {
                    border-color: $color-action-disable;
                    background-color: transparent;
                    color: $color-action-disable !important;
                }
            }
        }
    }
}