@import url('../css/satoshi.css');
@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
@media screen and (max-width: 949px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        font-family: poppins;
        box-sizing: border-box;
        color: #230604;
    }
    .btest{
        border: 1px solid green;
    }
    .content-center{
        display: flex;
        justify-content: center;
    }
    .flex-10{
        flex: 10%;
    }
    .h50{
        height: 50%;
    }
    .h100{
        height: 100%;
    }
    .mflex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .w100{
        width: 100%;
    }
    .page{
        width: 90%;
        margin-left: 5%;
        height: 100%;
        box-sizing: border-box;
    }
    .page-left{
        padding-top: 15px;
    }
    .page-part-right-inner{
        width: 100%;
    }
    .main-title{
        font-family: Satoshi-Regular;
        font-weight: 400;
        font-size: 28px;
        color: rgba(35, 6, 4, 1);
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .content-p{
        font-size: 14px;
        font-family: poppins;
        font-weight: 400;
        color: #7B6A68;
        margin: 0;
        margin-bottom: 24px;
    }
    .content-form{
        width: auto;
    }
    .cov-input{
        width: 100%;
        margin-bottom: 16px;
    }
    .label{
        margin-bottom: 4px;
        font-weight: 500;
        font-family: poppins;
        font-size: 14px;
        color: rgba(35, 6, 4, 1);
    }
    .input{
        width: 100%;
        height: 40px;
        padding: 1%;
        padding-left: 10px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        outline: none;
        font-size: 100%;
    }
    ::placeholder {
        color: #A79B9B;
        opacity: 1;
    }
      
    :-ms-input-placeholder {
       color: #A79B9B;
    }
      
    ::-ms-input-placeholder {
       color: #A79B9B;
    }
    .remem{
        display: block;
        position: relative;
        padding: 0;
        padding-left: 29px;
        cursor: pointer;
        font-size: 14px;
        font-family: poppins;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        line-height: 1;
        shadow: none;
    }
    .remem input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #A79B9B;
        border-radius: 2px;
    }
    .remem input:checked ~ .checkmark {
        background-color: #52AFB2;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .remem input:checked ~ .checkmark:after {
        display: block;
    }
    .remem .checkmark:after {
        top: -1px;
        left: 4px;
        width: 3px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .fgpass{
        color: #52AFB2;
        text-decoration: none;
        white-space: nowrap;
        float: right;
    }
    .button{
        width: 100%;
        height: 40px;
        background: #52AFB2;
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 14px;
        font-family: poppins;
        font-weight: 500;
        transition: 0.2s;
        cursor: pointer;
    }
    .button:hover{
        background: #479C9F;
    }
    .content-p2{
        text-align: center;
        color: #230604;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        font-family: poppins;
    }
    .cov-sc{
        width: 100%;
        margin-bottom: 24px;
        box-sizing: border-box;
    }
    .sc-button{
        box-sizing: border-box;
        cursor: pointer;
        height: 41px;
        border-radius: 4px;
    }
    .fb-button{
        margin-right: 5px;
        background: #5A7BC5;
        color: white;
    }
    .fb-button img{
        height: 15px;
        width: 8.75px;
        margin-top: 10px;
        margin-right: 15.42px;
        line-height: 1;
    }
    .scbtn-text{
        padding-top: 11px;
        padding-left: 0;
        line-height: 1;
        font-size: 14px;
        font-family: poppins;
        font-weight: 500;
    }
    .gg-button{
        margin-left: 5px;
        color: #52AFB2;
        border: 1px solid #52AFB2;
    }
    .gg-button img{
        height: 16.22px;
        width: 16.67px;
        margin-top: 10px;
        margin-right: 12.08px;
    }
    .content-p3{
        font-size: 14px;
        font-weight: 400;
        font-family: poppins;
    }
    .login-link{
        color: #52AFB2;
        text-decoration: none;
        font-family: poppins;
        font-weight: 400;
        font-size: 14px;
    }
}
@media screen and (min-width: 950px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        font-family: poppins;
        box-sizing: border-box;
        color: #230604;
    }
    .absolute{
        position: absolute;
    }
    .btest{
        border: 1px solid green;
    }
    .content-left{
        display: flex;
        justify-content: left;
    }
    .content-center{
        display: flex;
        justify-content: center;
    }
    .content-right{
        display: flex;
        justify-content: right;
    }
    .flex-10{
        flex: 10%;
    }
    .h50{
        height: 50%;
    }
    .h100{
        height: 100%;
    }
    .pcflex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .w50{
        width: 50%;
    }
    .w100{
        width: 100%;
    }
    .page{
        width: 100%;
        height: 100%;
        max-width: 1750px;
        margin: auto;
    }
    .page-left{
        background-image: url('../images/fmcolor.png');
        background-size: cover;
    }
    .logo{
        top: 50px;
        left: 50px;
    }
    .page-part-right-inner{
        margin: 50px;
        margin-top: 15px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .main-title{
        font-family: Satoshi-Regular;
        font-weight: normal;
        font-size: 40px;
        width: 364px;
        color: rgba(35, 6, 4, 1);
        margin: 0;
        margin-bottom: 16px;
    }
    .content-p{
        font-size: 18px;
        font-weight: 400;
        font-family: poppins;
        color: #7B6A68;
        margin: 0;
        margin-bottom: 40px;
    }
    .content-form{
        width: auto;
    }
    .cov-input{
        width: 448px;
        margin-bottom: 24px;
        box-sizing: border-box;
    }
    .label{
        margin-bottom: 10px;
        font-weight: bold;
        color: rgba(35, 6, 4, 1);
    }
    .input{
        box-sizing: border-box;
        width: 448px;
        height: 41px;
        padding: 12px;
        padding-left: 16px;
        border: 1px solid lightgrey;
        outline: none;
        font-family: poppins;
    }
    .input-check{
        line-height: 1.2;
    }
    .remem{
        display: block;
        position: relative;
        padding: 0;
        padding-left: 29px;
        cursor: pointer;
        font-size: 14px;
        font-family: poppins;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        line-height: 1;
        shadow: none;
    }
    .remem input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #A79B9B;
        border-radius: 2px;
    }
    .remem input:checked ~ .checkmark {
        background-color: #52AFB2;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .remem input:checked ~ .checkmark:after {
        display: block;
    }
    .remem .checkmark:after {
        top: -1px;
        left: 4px;
        width: 3px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .fgpass{
        color: #52AFB2;
        text-decoration: none;
    }
    .button{
        box-sizing: border-box;
        width: 448px;
        height: 50px;
        background: #52AFB2;
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 14px;
        font-family: poppins;
        transition: 0.2s;
        cursor: pointer;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .button:hover{
        background: #479C9F;
    }
    .content-p2{
        width: 448px;
        text-align: center;
        color: #230604;
        margin-bottom: 35px;
        font-weight: 400;
    }
    .cov-sc{
        width: 448px;
        margin-bottom: 35px;
        box-sizing: border-box;
    }
    .sc-button{
        box-sizing: border-box;
        cursor: pointer;
        height: 41px;
        border-radius: 4px;
    }
    .fb-button{
        margin-right: 5px;
        background: #5A7BC5;
        color: white;
    }
    .fb-button img{
        height: 15px;
        width: 8.75px;
        margin-top: 10px;
        margin-right: 15.42px;
        line-height: 1;
    }
    .scbtn-text{
        padding-top: 11px;
        padding-left: 0;
        line-height: 1;
    }
    .gg-button{
        margin-left: 5px;
        color: #52AFB2;
        border: 1px solid #52AFB2;
    }
    .gg-button img{
        height: 16.22px;
        width: 16.67px;
        margin-top: 10px;
        margin-right: 12.08px;
    }
    .content-p3{
        font-size: 14px;
        font-weight: 400;
        font-family: poppins;
    }
    .login-link{
        color: #52AFB2;
        text-decoration: none;
        font-family: poppins;
        font-weight: 400;
        font-size: 14px;
    }
}