@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"), url("../fonts/Satoshi-Variable.woff") format("woff"), url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"), url("../fonts/Satoshi-VariableItalic.woff") format("woff"), url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"), url("../fonts/Satoshi-Light.woff") format("woff"), url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"), url("../fonts/Satoshi-LightItalic.woff") format("woff"), url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"), url("../fonts/Satoshi-Regular.woff") format("woff"), url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"), url("../fonts/Satoshi-Italic.woff") format("woff"), url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"), url("../fonts/Satoshi-Medium.woff") format("woff"), url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"), url("../fonts/Satoshi-MediumItalic.woff") format("woff"), url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"), url("../fonts/Satoshi-Bold.woff") format("woff"), url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"), url("../fonts/Satoshi-BoldItalic.woff") format("woff"), url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"), url("../fonts/Satoshi-Black.woff") format("woff"), url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"), url("../fonts/Satoshi-BlackItalic.woff") format("woff"), url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Poppins-LightItalic";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-MediumItalic";
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Satoshi-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 14px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  color: #230604;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 2px;
  background: #E9E6E6;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track:horizontal {
  height: 2px;
  background: #E9E6E6;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #52AFB2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #479C9F;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:focus {
  background-color: #3C8486;
}

section {
  width: 100%;
  margin: 0 auto;
}

.my-48 {
  margin: 3.4285714286rem 0;
}

.mt-48 {
  margin-top: 3.4285714286rem;
}

.mb-48 {
  margin-bottom: 3.4285714286rem;
}

.mx-48 {
  margin: 0 3.4285714286rem;
}

.mr-48 {
  margin-right: 3.4285714286rem;
}

.ml-48 {
  margin-left: 3.4285714286rem;
}

.my-40 {
  margin: 2.8571428571rem 0;
}

.mt-40 {
  margin-top: 2.8571428571rem;
}

.mb-40 {
  margin-bottom: 2.8571428571rem;
}

.mx-40 {
  margin: 0 2.8571428571rem;
}

.mr-40 {
  margin-right: 2.8571428571rem;
}

.ml-40 {
  margin-left: 2.8571428571rem;
}

.my-32 {
  margin: 2.2857142857rem 0;
}

.mt-32 {
  margin-top: 2.2857142857rem;
}

.mb-32 {
  margin-bottom: 2.2857142857rem;
}

.mx-32 {
  margin: 0 2.2857142857rem;
}

.mr-32 {
  margin-right: 2.2857142857rem;
}

.ml-32 {
  margin-left: 2.2857142857rem;
}

.my-28 {
  margin: 2rem 0;
}

.mt-28 {
  margin-top: 2rem;
}

.mb-28 {
  margin-bottom: 2rem;
}

.mx-28 {
  margin: 0 2rem;
}

.mr-28 {
  margin-right: 2rem;
}

.ml-28 {
  margin-left: 2rem;
}

.my-24 {
  margin: 1.7142857143rem 0;
}

.mt-24 {
  margin-top: 1.7142857143rem;
}

.mb-24 {
  margin-bottom: 1.7142857143rem;
}

.mx-24 {
  margin: 0 1.7142857143rem;
}

.mr-24 {
  margin-right: 1.7142857143rem;
}

.ml-24 {
  margin-left: 1.7142857143rem;
}

.my-24 {
  margin: 1.7142857143rem 0;
}

.mt-20 {
  margin-top: 1.4285714286rem;
}

.mb-20 {
  margin-bottom: 1.4285714286rem;
}

.mx-20 {
  margin: 0 1.4285714286rem;
}

.mr-20 {
  margin-right: 1.4285714286rem;
}

.ml-20 {
  margin-left: 1.4285714286rem;
}

.my-16 {
  margin: 1.1428571429rem 0;
}

.mt-16 {
  margin-top: 1.1428571429rem;
}

.mb-16 {
  margin-bottom: 1.1428571429rem;
}

.mx-16 {
  margin: 0 1.1428571429rem;
}

.mr-16 {
  margin-right: 1.1428571429rem;
}

.ml-16 {
  margin-left: 1.1428571429rem;
}

.space {
  height: 5.2857142857rem;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  border: 1px solid #A79B9B;
  border-radius: 2px;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  -webkit-transition: color 0.2s ease, background-color 0.1s ease;
  transition: color 0.2s ease, background-color 0.1s ease;
}

input[type=checkbox]:hover {
  border: 1px solid #479C9F;
}

input[type=checkbox]:checked {
  background-color: #479C9F;
  border: 1px solid #479C9F;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  border: 1px solid #A79B9B;
  border-radius: 50%;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  -webkit-transition: color 0.2s ease, background-color 0.1s ease;
  transition: color 0.2s ease, background-color 0.1s ease;
}

input[type=radio]:hover {
  border: 1px solid #479C9F;
}

input[type=radio]:checked {
  width: 16px;
  height: 16px;
  border: 1px solid #479C9F;
  border-radius: 50%;
  position: relative;
}
input[type=radio]:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #479C9F;
}

.nav-pills {
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  border-bottom: 1px solid #D3CDCD;
}
.nav-pills .nav-link {
  color: #4F3836;
  padding-bottom: 1.7142857143rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-radius: 0;
}
.nav-pills .nav-link.active {
  color: #52AFB2;
  background-color: transparent;
  border-bottom: 2px solid #52AFB2;
}
.nav-pills .nav-link:hover {
  color: #52AFB2;
}

.table th {
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding-top: 1.7142857143rem;
  padding-bottom: 1.1428571429rem;
  font-weight: 500;
}

a,
a:link {
  text-decoration: none;
  color: #52AFB2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

a:hover {
  color: #479C9F;
}

a:focus,
a:active {
  color: #3C8486;
}

.badge {
  padding: 5.5px 8px;
  border-radius: 32px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.badge-upcoming {
  background-color: #FFECDD;
  color: #EE8935;
}
.badge-success {
  background-color: #DDF9EF;
  color: #40B78D;
}
.badge-rating {
  padding: 1.2857142857rem 0.7142857143rem;
  background-color: #FFECDD;
  color: #EE8935;
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
}

.text-success {
  color: #52AFB2 !important;
}
.text-rating {
  color: #EE8935 !important;
}
.text-muted {
  color: #A79B9B !important;
}

.container {
  width: 100%;
  max-width: 1374px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 575.98px) {
  .container {
    max-width: 540px;
  }
}

.custom-table-1 {
  border-collapse: separate;
  border-spacing: 0 16px;
  margin: 0;
}
.custom-table-1 thead th,
.custom-table-1 thead td {
  border: none;
  color: #000000;
  font-family: "Poppins-Medium";
  font-size: 14px;
  line-height: 150%;
  padding: 0 16px 0 0;
  white-space: nowrap;
}
.custom-table-1 tbody tr th,
.custom-table-1 tbody tr td {
  border-top: 1px solid #D3CDCD;
  border-bottom: 1px solid #D3CDCD;
  color: #7B6A68;
  font-family: "Poppins-Medium";
  font-size: 14px;
  line-height: 150%;
  padding: 16px 16px 16px 0;
  vertical-align: middle;
}
.custom-table-1 tbody tr th:first-child,
.custom-table-1 tbody tr td:first-child {
  border-left: 1px solid #D3CDCD;
  border-radius: 5px 0 0 5px;
  padding-left: 16px;
}
.custom-table-1 tbody tr th:last-child,
.custom-table-1 tbody tr td:last-child {
  border-right: 1px solid #D3CDCD;
  border-radius: 0 5px 5px 0;
  padding-right: 16px;
  width: 1%;
}
.custom-table-1 tbody tr.active th,
.custom-table-1 tbody tr.active td {
  border-color: #52AFB2;
}

.custom-table-2 th {
  padding-top: 1.7142857143rem;
  padding-bottom: 1.1428571429rem;
  border-top: none;
}
.custom-table-2 tr td {
  border-top: 1px solid #E9E6E6;
}
.custom-table-2 tr:last-child td {
  border-bottom: 1px solid #E9E6E6;
}

.custom-table-3 thead th {
  padding: 0;
  padding-bottom: 0.5714285714rem;
  color: #A79B9B;
}
.custom-table-3 tbody td {
  padding: 0;
}
.custom-table-3 thead th, .custom-table-3 tbody td {
  border: none;
  border-bottom: none;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.breadcrumb-item {
  color: #230604;
}
.breadcrumb-item.active a {
  color: #7B6A68;
}
.breadcrumb-item a {
  color: #230604;
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  color: #230604;
  padding: 0.2142857143rem 1rem;
  padding-left: 0.5rem;
}

.custom-card-1 .card-body {
  padding: 1.2857142857rem 1.1428571429rem;
}

a.btn, .btn {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
a.btn--sm, .btn--sm {
  padding: 0.5rem 1.2857142857rem;
}
a.btn--md, .btn--md {
  padding: 0.7142857143rem 1.4285714286rem;
}
a.btn--lg, .btn--lg {
  padding: 0.8571428571rem 1.7142857143rem;
}
a.btn-default, .btn-default {
  color: #FFFFFF;
  background-color: #52AFB2;
  border-color: #52AFB2;
  vertical-align: middle;
}
a.btn-default:hover, .btn-default:hover {
  color: #FFFFFF;
  background-color: #479C9F;
  border-color: #479C9F;
}
a.btn-default:active, .btn-default:active {
  color: #FFFFFF;
  background-color: #3C8486;
  border-color: #3C8486;
}
a.btn-default:focus, .btn-default:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
a.btn-default.disabled, a.btn-default:disabled, .btn-default.disabled, .btn-default:disabled {
  color: #FFFFFF;
  background-color: #DED4D3;
  border-color: #DED4D3;
}
a.btn-outline-default, .btn-outline-default {
  color: #52AFB2;
  background-color: transparent;
  border-color: #52AFB2;
  vertical-align: middle;
}
a.btn-outline-default:hover, .btn-outline-default:hover {
  color: #479C9F;
  background-color: #F1FCF8;
  border-color: #479C9F;
}
a.btn-outline-default:active, .btn-outline-default:active {
  color: #3C8486;
  background-color: #DDF9EF;
  border-color: #3C8486;
}
a.btn-outline-default:focus, .btn-outline-default:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
a.btn-outline-default.disabled, a.btn-outline-default:disabled, .btn-outline-default.disabled, .btn-outline-default:disabled {
  color: #FFFFFF;
  background-color: #DED4D3;
  border-color: #DED4D3;
}
a.btn-dropdown, .btn-dropdown {
  background-color: #FFFFFF;
  border: 1px solid #D3CDCD;
  border-radius: 5px;
  padding: 0.7142857143rem 1rem;
}
a.btn-dropdown::after, .btn-dropdown::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  color: #230604;
  margin-left: 1rem;
  font-size: 12px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  vertical-align: middle;
}
a.btn-dropdown.show::after, .btn-dropdown.show::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
a.btn-dropdown:hover, .btn-dropdown:hover {
  color: #479C9F;
  background-color: #F1FCF8;
  border-color: #479C9F;
}
a.btn-dropdown:active, .btn-dropdown:active {
  color: #3C8486;
  background-color: #DDF9EF;
  border-color: #3C8486;
}
a.btn-dropdown:focus, .btn-dropdown:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
a.btn-dropdown.disabled, a.btn-dropdown:disabled, .btn-dropdown.disabled, .btn-dropdown:disabled {
  color: #FFFFFF;
  background-color: #DED4D3;
  border-color: #DED4D3;
}

.container-navbar {
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 0.0714285714rem solid #D3CDCD;
  z-index: 10;
  background-color: #FFFFFF;
  padding: 0;
}
.container-navbar .navbar {
  width: auto;
  margin: 0 auto;
  padding-top: 0.7142857143rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
@media only screen and (max-width: 1199.98px) {
  .container-navbar .navbar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.container-navbar .navbar__logo-box {
  max-width: 186.64px;
  margin-right: 2.1428571429rem;
  padding-top: 0.5357142857rem;
  padding-bottom: 1.25rem;
}
@media only screen and (max-width: 1339.98px) {
  .container-navbar .navbar__logo-box {
    margin-right: 1.0714285714rem;
  }
}
.container-navbar .navbar__logo-box img {
  width: 100%;
  height: auto;
  display: block;
}
.container-navbar .navbar__search-box {
  padding-top: 0.4642857143rem;
  margin-left: 1.7142857143rem;
  margin-right: 1.7142857143rem;
}
@media only screen and (max-width: 1339.98px) {
  .container-navbar .navbar__search-box {
    margin-left: 0.8571428571rem;
    margin-right: 0.8571428571rem;
  }
}
@media only screen and (max-width: 1199.98px) {
  .container-navbar .navbar__search-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
  }
}
.container-navbar .navbar__menu-box {
  padding-top: 0.4642857143rem;
  margin-left: 4.2628571429rem;
  margin-right: 6.0714285714rem;
}
@media only screen and (max-width: 1399.98px) {
  .container-navbar .navbar__menu-box {
    margin-left: 2.5rem;
    margin-right: 5.3571428571rem;
  }
}
@media only screen and (max-width: 1339.98px) {
  .container-navbar .navbar__menu-box {
    margin-right: 4.6428571429rem;
  }
}
@media only screen and (max-width: 1199.98px) {
  .container-navbar .navbar__menu-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 55%;
    margin-left: 0;
    margin-right: 0;
  }
}
.container-navbar .navbar__menu-box .nav-link {
  padding: 0 0.8571428571rem;
}
@media only screen and (max-width: 1199.98px) {
  .container-navbar .navbar__menu-box .nav-link:first-child {
    padding-left: 0;
  }
}
.container-navbar .navbar__menu-box .nav-link__item {
  display: block;
  color: #4F3836;
  padding: 0.6428571429rem 0 2.0714285714rem;
  border-bottom: 0.1428571429rem solid transparent;
}
.container-navbar .navbar__menu-box .nav-link__item:hover {
  color: #479C9F;
}
.container-navbar .navbar__menu-box .nav-link.active .nav-link__item {
  color: #52AFB2;
  border-bottom-color: #52AFB2;
}
.container-navbar .navbar__account-box {
  padding-top: 0.4642857143rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 1199.98px) {
  .container-navbar .navbar__account-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 45%;
  }
}
.container-navbar .navbar__account-box .nav-link {
  color: #52AFB2;
  padding: 0.7142857143rem 2.2857142857rem;
}
.container-navbar .navbar__account-box .nav-link:hover {
  color: #479C9F;
}
.container-navbar .navbar__account-box .btn {
  color: #FFFFFF;
  display: block;
}
.container-navbar .navbar a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.search-box {
  width: 22.8571428571rem;
  height: auto;
  display: block;
  padding: 0.7142857143rem 1rem;
  border: 0.0714285714rem solid #D3CDCD;
  border-radius: 0.3571428571rem;
}
@media only screen and (max-width: 1339.98px) {
  .search-box {
    width: 100%;
    max-width: 22.8571428571rem;
  }
}
@media only screen and (max-width: 1199.98px) {
  .search-box {
    margin-left: auto;
    margin-right: 0;
  }
}
.search-box__input {
  outline: none;
  margin-left: 0.6071428571rem;
  border: none;
}
.search-box__input::-webkit-input-placeholder {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.search-box__input::-moz-placeholder {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.search-box__input:-ms-input-placeholder {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.search-box__input:-moz-placeholder {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.search-box__img {
  width: 1.1307142857rem;
  height: 1.1307142857rem;
}

.dropdown {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dropdown .dropdown-menu {
  border: none;
  padding: 1.1428571429rem;
  -webkit-box-shadow: 0px 26px 40px rgba(0, 0, 0, 0.04), 0px 7.62913px 26.1906px rgba(0, 0, 0, 0.0322881), 0px 2.55742px 22.1562px rgba(0, 0, 0, 0.0162738), 0px 0.601544px 21.9756px rgba(0, 0, 0, 0.0101183), 0px -0.0505269px 16.2382px rgba(0, 0, 0, 0.0076663);
          box-shadow: 0px 26px 40px rgba(0, 0, 0, 0.04), 0px 7.62913px 26.1906px rgba(0, 0, 0, 0.0322881), 0px 2.55742px 22.1562px rgba(0, 0, 0, 0.0162738), 0px 0.601544px 21.9756px rgba(0, 0, 0, 0.0101183), 0px -0.0505269px 16.2382px rgba(0, 0, 0, 0.0076663);
  color: #4F3836;
}
.dropdown .dropdown-menu > label:not(:last-child) {
  margin-bottom: 1.1428571429rem;
}
.dropdown .dropdown-menu label input {
  margin-right: 0.5rem;
}
.dropdown .dropdown-menu .dropdown-title {
  color: #A79B9B;
  margin-bottom: 1.1428571429rem;
}
.dropdown .dropdown-item {
  color: #4F3836;
  padding: 0;
}
.dropdown .dropdown-item:hover {
  color: #479C9F;
  background-color: transparent;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:active {
  background-color: transparent;
}
.dropdown .dropdown-toggle {
  color: #4F3836;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: color 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, transform 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
}
.dropdown .dropdown-toggle::after {
  border: none;
}
.dropdown.filtered .dropdown-toggle {
  padding: 0.5714285714rem 1rem;
}
.dropdown.show .dropdown-toggle {
  border: 1px solid #52AFB2;
}
.dropdown.show .dropdown-toggle::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.container-footer {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  width: 100%;
  border-top: 1px solid #D3CDCD;
  background-color: #FFFFFF;
  padding: 0;
}
.container-footer .footer {
  width: auto;
}
.container-footer .footer__box--middle {
  color: #A79B9B;
}
.container-footer .footer__box--left {
  max-width: 22.8571428571rem;
  color: #4F3836;
}
.container-footer .footer__box--left-desc {
  margin-bottom: 6.4285714286rem;
}
.container-footer .footer__box--right-link:not(:last-child) {
  margin-right: 5.7142857143rem;
}
.container-footer .footer__box--right-link {
  list-style: none;
}
.container-footer .footer__box--right-link-title {
  font-family: "Poppins-SemiBold", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.container-footer .footer__box--right-link > *:not(:last-child) {
  margin-bottom: 1.1428571429rem;
}
.container-footer .footer__box--right-link a, .container-footer .footer__box--right-link a:link {
  text-decoration: none;
  color: #4F3836;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.container-footer .footer__box--right-link a:hover {
  color: #479C9F;
}
.container-footer .footer__box--right-link a:focus, .container-footer .footer__box--right-link a:active {
  color: #3C8486;
}

.section {
  width: 100%;
}
.section-calendar__gallery--mini > *:not(:last-child) {
  margin-right: 1.7142857143rem;
}
.section-highlight__gallery > *:not(:last-child) {
  margin-right: 1.7142857143rem;
}
.section-highlight__gallery {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.section-upcoming__header {
  margin-bottom: 1.7142857143rem;
}
.section-upcoming__header--right > *:not(:last-child) {
  margin-right: 0.5714285714rem;
}
.section-upcoming__header--left > *:not(:last-child) {
  margin-right: 1.7142857143rem;
}

.picture {
  position: relative;
}
.picture.picture-secondary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  max-width: 22.6607142857rem;
  margin-bottom: 2.2857142857rem;
}
.picture.picture-secondary .picture__img {
  width: 100%;
  max-height: 17.3571428571rem;
}
.picture.picture-sm {
  margin: 0;
}
.picture.picture-sm .picture__img {
  width: 4.5714285714rem;
  height: 4.5714285714rem;
  margin-right: 1.7142857143rem;
  margin-bottom: 0;
}
.picture.picture-sm .caption-title {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.picture__img {
  margin-bottom: 1.1428571429rem;
}
.picture .caption-title {
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.picture .caption-desc, .picture .caption-price {
  color: #7B6A68;
}
.picture .caption-rating {
  color: #F3CE17;
}
.picture__caption--text-2 {
  position: absolute;
  top: 1.7142857143rem;
  left: 1.7142857143rem;
  color: #FFFFFF;
}
.picture__caption--text-2 .caption-time {
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

.wallet-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}

.wallet-sidebar {
  margin: 0;
  background-image: url("../images/fmcolor.png");
  position: relative;
  width: 100%;
  max-width: 456px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.wallet-sidebar__logo {
  position: absolute;
  top: 48px;
  left: 48px;
  height: 40px;
  width: auto;
}
@media only screen and (max-width: 991.98px) {
  .wallet-sidebar {
    display: none;
  }
}

.wallet-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wallet-back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  text-decoration: none !important;
}
.wallet-back-btn__icon {
  margin-right: 14px;
  height: 11.6px;
}
.wallet-back-btn__text {
  color: #230604;
  font-family: "Poppins-Medium";
  font-size: 14px;
  line-height: 150%;
}

.wallet-wizard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -4px;
  padding: 0;
}
.wallet-wizard-header__item {
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 448px;
  padding: 0 4px;
  color: #D3CDCD;
  font-family: "Satoshi-Regular";
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 16px;
  position: relative;
  cursor: pointer;
}
.wallet-wizard-header__item::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 0;
  left: 4px;
  height: 4px;
  background-color: #D3CDCD;
}
.wallet-wizard-header__item--active {
  color: #52AFB2;
}
.wallet-wizard-header__item--active::after {
  background-color: #52AFB2;
}
.wallet-wizard-header__item--complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #52AFB2;
}
.wallet-wizard-header__item--complete::after {
  background-color: #52AFB2;
}
.wallet-wizard-header__item:hover {
  color: #479C9F;
}
.wallet-wizard-header__item:hover::after {
  background-color: #479C9F;
}

.wallet-wizard-header-check-icon {
  margin-right: 10px;
  height: 20px;
  width: auto;
}

.wallet-wizard-content {
  padding: 40px 0 0;
}

.wallet-wizard-content-header {
  margin-bottom: 40px;
}
.wallet-wizard-content-header__heading {
  color: #230604;
  font-family: "Satoshi-Regular";
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 8px;
}
.wallet-wizard-content-header__subheading {
  color: #7B6A68;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 150%;
}

.wallet-radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wallet-radio-wrapper__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 304px;
          flex: 0 0 304px;
  max-width: 304px;
  padding: 0 12px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 639.98px) {
  .wallet-radio-wrapper__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.wallet-radio-wrapper__input {
  display: block;
  color: #230604;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 150%;
  padding: 10px 14px;
  background-color: #FFFFFF;
  border: 1px solid #D3CDCD;
  border-radius: 5px;
  width: 44%;
}
.wallet-radio-wrapper__input::-webkit-input-placeholder {
  color: #A79B9B;
}
.wallet-radio-wrapper__input::-moz-placeholder {
  color: #A79B9B;
}
.wallet-radio-wrapper__input:-ms-input-placeholder {
  color: #A79B9B;
}
.wallet-radio-wrapper__input::-ms-input-placeholder {
  color: #A79B9B;
}
.wallet-radio-wrapper__input::placeholder {
  color: #A79B9B;
}

.wallet-radio {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #D3CDCD;
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.wallet-radio--selected {
  border-color: #52AFB2;
}
.wallet-radio__input {
  border: 2px solid #A79B9B !important;
  position: absolute !important;
  top: 16px;
  left: 16px;
  width: 32px !important;
  height: 32px !important;
}
.wallet-radio__input:checked {
  border: 2px solid #52AFB2 !important;
}
.wallet-radio__image {
  width: 96px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
.wallet-radio__text {
  color: #000000;
  font-family: "Poppins-Regular";
  font-size: 18px;
  line-height: 150%;
}

.radio-image__image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.wallet-btn-submit {
  padding: 10px 51px;
  margin-top: 16px;
}

.wallet-help {
  color: #4F3836;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 150%;
  margin-top: 48px;
}
.wallet-help__link {
  text-decoration: none !important;
}

.wallet-title {
  font-family: "Satoshi-Regular";
  font-size: 32px;
  line-height: 120%;
}

.list-wallet-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-wallet-name__image {
  height: 40px;
  width: auto;
  margin-right: 8px;
}

.list-wallet-hide .custom-switch .custom-control-label::before {
  top: -4px;
  width: 48px !important;
  height: 28px !important;
  border-radius: 32px;
}
.list-wallet-hide .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff !important;
  border-color: #52AFB2 !important;
  background-color: #52AFB2 !important;
}
.list-wallet-hide .custom-control-input:disabled ~ .custom-control-label::before {
  color: #fff !important;
  border-color: #DDF9EF !important;
  background-color: #DDF9EF !important;
}
.list-wallet-hide .custom-switch .custom-control-label::after {
  top: 0px !important;
  left: -26px !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}
.list-wallet-hide .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #ffffff !important;
  -webkit-transform: translateX(18px) !important;
  transform: translateX(18px) !important;
}
.list-wallet-hide .custom-switch .custom-control-input:disabled ~ .custom-control-label::after {
  background-color: #ffffff !important;
}

.list-wallet-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-wallet-actions__btn-text {
  width: 143px;
  height: 40px;
  margin-right: 8px;
}
.list-wallet-actions__btn-text--default {
  background-color: #DDF9EF !important;
}
.list-wallet-actions__btn-icon {
  width: 40px;
  height: 40px;
}

.share-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px 24px;
}
.share-profile__heading {
  color: #230604;
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  line-height: 150%;
}
.share-profile__subheading {
  color: #230604;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 150%;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media__item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid #52AFB2;
  background-color: #FFFFFF;
  margin-right: 24px;
}
.social-media__item:last-child {
  margin-right: 0;
}

.copybox {
  color: #52AFB2;
  font-family: "Poppins-Medium";
  font-size: 14px;
  line-height: 150%;
  background-color: #DDF9EF;
  border: 1px solid #52AFB2;
  border-radius: 32px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.copybox__button {
  margin-left: 8px;
  height: 16px;
  width: auto;
}

.section-project-detail__col {
  width: 50%;
}
.section-project-detail__img {
  width: 100%;
  height: 100%;
}
.section-project-detail__details {
  color: #A79B9B;
  padding: 0;
}
.section-project-detail__details .separator {
  margin: 0 1rem;
  font-size: 6px;
  width: 6px;
  height: 6px;
}
.section-project-detail__details-twitter, .section-project-detail__details-discord, .section-project-detail__details-time {
  color: #230604;
}
.section-project-detail__details-twitter span, .section-project-detail__details-discord span, .section-project-detail__details-time span {
  color: #230604;
  font-family: "Poppins-Medium", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.section-project-detail__project-title {
  font-family: "Poppins-SemiBold", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}
.section-project-detail__project table {
  margin-bottom: 0;
}
.section-project-detail__project-rating {
  color: #EE8935;
}
.section-project-detail__project-rating-title {
  font-family: "Poppins-SemiBold", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
}
.section-project-detail__project-rating p {
  font-size: 16px;
}
.section-project-detail__rating {
  color: #EE8935;
}
.section-project-detail__rating-title {
  color: #4F3836;
}
.section-project-detail__rating > *:not(:last-child) {
  margin-bottom: 0.5714285714rem;
}
.section-project-detail__rating-star > *:not(:last-child) {
  margin-right: 0.2857142857rem;
}
.section-project-detail__price h2 {
  font-family: "Satoshi-Bold", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}