@import url('../css/satoshi.css');
@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
@media screen and (max-width: 949px){
    body{
        margin: 0;
        font-family: poppins;
        box-sizing: border-box;
        color: #230604;
    }
    .btest{
        border: 1px solid green;
    }
    .content-center{
        display: flex;
        justify-content: center;
    }
    .flex-10{
        flex: 10%;
    }
    .h50{
        height: 50%;
    }
    .h100{
        height: 100%;
    }
    .mflex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .w100{
        width: 100%;
    }
    .page{
        width: 90%;
        margin-left: 5%;
        height: 100%;
        box-sizing: border-box;
    }
    .page-left{
        padding-top: 15px;
    }
    .page-part-right-inner{
        width: 100%;
    }
    .main-title{
        font-family: Satoshi-Regular;
        font-weight: normal;
        font-size: 32px;
        color: rgba(35, 6, 4, 1);
    }
    .content-p{
        font-size: 16px;
        color: #7B6A68;
    }
    .content-form{
        width: auto;
    }
    .cov-input{
        width: 100%;
        margin-bottom: 35px;
        box-sizing: border-box;
    }
    .label{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
        color: rgba(35, 6, 4, 1);
    }
    .input{
        width: 95%;
        height: 35px;
        padding: 1%;
        padding-left: 10px;
        border: 1px solid lightgrey;
        outline: none;
        font-size: 100%;
    }
    .button{
        width: 100%;
        height: 50px;
        background: rgba(235, 87, 73, 1);
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 100%;
        transition: 0.2s;
        cursor: pointer;
    }
    .button:hover{
        background: rgb(240, 111, 102);
    }
    .content-p2{
        text-align: center;
        color: #230604;
        margin-bottom: 35px;
        font-size: 16px;
        font-weight: bold;
    }
    .sc-button{
        border: 1px solid lightgrey;
        cursor: pointer;
        height: 35px;
        border-radius: 2px;
        line-height: 35px;
    }
    .sc-button img{
        height: 50%;
        margin-top: 4.1%;
        margin-right: 5%;
    }
    .fb-button{
        margin-right: 5px;
        background: #5A7BC5;
        color: white;
    }
    .gg-button{
        margin-left: 5px;
        color: #EB5749;
    }
    .login-link{
        color: #EB5749;
        text-decoration: none;
    }
    .content-p3{
        font-size: 16px;
    }
}
@media screen and (min-width: 950px){
    body{
        margin: 0;
        font-family: poppins;
        box-sizing: border-box;
    }
    .absolute{
        position: absolute;
    }
    .btest{
        border: 1px solid green;
    }
    .content-center{
        display: flex;
        justify-content: center;
    }
    .flex-10{
        flex: 10%;
    }
    .h50{
        height: 50%;
    }
    .h100{
        height: 100%;
    }
    .pcflex{
        display: flex;
    }
    .relative{
        position: relative;
    }
    .w50{
        width: 50%;
    }
    .w100{
        width: 100%;
    }
    .page{
        width: 100%;
        height: 100%;
    }
    .page-left{
        background-image: url('../images/fmcolor.png');
        background-size: cover;
    }
    .logo{
        top: 50px;
        left: 50px;
    }
    .page-part-right-inner{
        margin: 50px;
        margin-top: 15px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .main-title{
        font-family: Satoshi-Regular;
        font-weight: normal;
        font-size: 48px;
        width: 364px;
        color: rgba(35, 6, 4, 1);
        margin: 0;
        /* margin-top: 0; */
        margin-bottom: 32px;
    }
    .content-p{
        font-size: 20px;
        color: #7B6A68;
        margin: 0;
        margin-bottom: 20px;
    }
    .content-form{
        width: auto;
    }
    .cov-input{
        width: 448px;
        margin-bottom: 35px;
        box-sizing: border-box;
        /* border: 1px solid green; */
    }
    .label{
        margin-bottom: 10px;
        font-weight: bold;
        color: rgba(35, 6, 4, 1);
        /* border: 1px solid green; */
    }
    .input{
        box-sizing: border-box;
        width: 448px;
        height: 41px;
        padding: 12px;
        padding-left: 16px;
        border: 1px solid lightgrey;
        outline: none;
        /* font-size: 100%; */
        font-family: poppins;
    }
    .button{
        box-sizing: border-box;
        width: 448px;
        height: 50px;
        background: #52AFB2;
        color: white;
        border: none;
        border-radius: 2px;
        font-size: 14px;
        font-family: poppins;
        transition: 0.2s;
        cursor: pointer;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .button:hover{
        background: #479C9F;
    }
    .content-p2{
        text-align: center;
        color: #230604;
        margin-bottom: 35px;
        font-weight: bold;
        /* border: 1px solid green; */
    }
    .cov-sc{
        width: 448px;
        margin-bottom: 35px;
        box-sizing: border-box;
        /* border: 1px solid green; */
    }
    .sc-button{
        box-sizing: border-box;
        /* border: 1px solid lightgrey; */
        cursor: pointer;
        height: 41px;
        border-radius: 4px;
        line-height: 35px;
    }
    .sc-button img{
        height: 50%;
        margin-top: 4.1%;
        margin-right: 5%;
    }
    .fb-button{
        margin-right: 5px;
        background: #5A7BC5;
        color: white;
    }
    .gg-button{
        margin-left: 5px;
        color: #52AFB2;
        border: 1px solid #52AFB2;
    }
    .login-link{
        color: #52AFB2;
        text-decoration: none;
        font-family: poppins;
        font-weight: 400;
        font-size: 14px;
    }
}