a.btn, .btn {
    font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    &--sm {
        padding: toRem(7) toRem(18);
    }
    &--md {
        padding: toRem(10) toRem(20);
    }
    &--lg {
        padding: toRem(12) toRem(24);
    }

    &-default {
        color: $color-neutral-0;
        background-color: $color-action-default;
        border-color: $color-action-default;
        vertical-align: middle;
        &:hover{
            color: $color-neutral-0;
            background-color: $color-action-hover;
            border-color: $color-action-hover;
        }

        &:active{
            color: $color-neutral-0;
            background-color: $color-action-press;
            border-color: $color-action-press;
        }

        &:focus {
            box-shadow: none;
        }

        &.disabled, &:disabled{
            color: $color-neutral-0;
            background-color: $color-action-disable;
            border-color: $color-action-disable;
        }
    }

    &-outline-default {
        color: $color-action-default;
        background-color: transparent;
        border-color: $color-action-default;
        vertical-align: middle;

        &:hover{
            color: $color-action-hover;
            background-color: $color-action-outline-hover;
            border-color: $color-action-hover;
        }

        &:active{
            color: $color-action-press;
            background-color: $color-action-outline-press;
            border-color: $color-action-press;
        }
        &:focus {
            box-shadow: none;
        }

        &.disabled, &:disabled{
            color: $color-neutral-0;
            background-color: $color-action-disable;
            border-color: $color-action-disable;
        }
    }

    &-dropdown{
        background-color: $color-neutral-0;
        border: 1px solid $color-neutral-20;
        border-radius: 5px;
        padding: toRem(10) toRem(14);
        &::after{
            font-family: 'Font Awesome 5 Free';
            content: '\f078';
            font-weight: 900;
            color: $color-neutral-100;
            margin-left: toRem(14);
            font-size: 12px;
            display: inline-block;
            box-sizing: border-box;
            transition: all .5s ease;
            backface-visibility: hidden;
            vertical-align: middle;
        }

        &.show{
            &::after{
                transform: rotate(-180deg);
            }
        }

        &:hover{
            color: $color-action-hover;
            background-color: $color-action-outline-hover;
            border-color: $color-action-hover;
        }

        &:active{
            color: $color-action-press;
            background-color: $color-action-outline-press;
            border-color: $color-action-press;
        }
        &:focus {
            box-shadow: none;
        }

        &.disabled, &:disabled{
            color: $color-neutral-0;
            background-color: $color-action-disable;
            border-color: $color-action-disable;
        }
    }
}