.dropdown {
    transition: all .5s ease;
    .dropdown-menu {
        border: none;
        padding: toRem(16);
        box-shadow: 0px 26px 40px rgba(0, 0, 0, 0.04),
        0px 7.62913px 26.1906px rgba(0, 0, 0, 0.0322881),
        0px 2.55742px 22.1562px rgba(0, 0, 0, 0.0162738),
        0px 0.601544px 21.9756px rgba(0, 0, 0, 0.0101183),
        0px -0.0505269px 16.2382px rgba(0, 0, 0, 0.0076663);
        color: $color-neutral-80;

        & > label:not(:last-child) {
            margin-bottom: toRem(16);
        }

        label input {
            margin-right: toRem(7);
        }

        .dropdown-title {
            color: $color-neutral-40;
            margin-bottom: toRem(16);
        }
    }

    .dropdown-item {
        color: $color-neutral-80;
        padding: 0;

        &:hover {
            color: $color-action-hover;
            background-color: transparent;
        }

        &:focus, &:active {
            background-color: transparent;
        }
    }
    
    .dropdown-toggle{
        transition: color .5s ease, transform .5s ease, background-color .5s ease;
    }

    .dropdown-toggle-1 {
        font-family: 'Poppins-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        width: 145px;
        display: flex;
        align-items: center;
        text-align: left;
        position: relative;
        &::after{
            border: none;
            font-family: 'Font Awesome 5 Free';
            content: '\f078';
            font-weight: 900;
            color: $color-neutral-100;
            font-size: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 14px;
            display: inline-block;
            box-sizing: border-box;
            transition: all .5s ease;
            backface-visibility: hidden;
            margin: 0;
        }

        &:hover {
            &::after{ 
                color: $color-action-hover;
            }
        }

        &:active {
            &::after{ 
                color: $color-action-press;
            }
        }

        .text {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .badge {
            margin-left: 4px;
            vertical-align: middle;
        }
    }

    &.filtered {
        .dropdown-toggle{
            padding: toRem(8) toRem(14);
        }
    }

    &.show{
        .dropdown-toggle{
            border: 1px solid $color-action-default;
            &::after{
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }
}