.container-navbar {
    font-family: 'Poppins-Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: toRem(1) solid $color-neutral-20;
    z-index: 10;
    background-color: $color-neutral-0;
    padding: 0;

    &.show {
        @include media-query(md) {
            position: inherit;
            z-index: 9;
        }
    }

    .navbar{
        width: auto;
        margin: 0 auto;
        padding-top: toRem(10);
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
        align-items: unset;

        @include media-query(lg) {
            width: 100%;
            flex-wrap: wrap;
        }

        @include media-query(md) {
            position: inherit;
            // overflow-x: hidden;
        }
        
        &__logo-box {
            max-width: 186.64px;
            margin-right: toRem(30);
            padding-top: toRem(7.5);
            padding-bottom: toRem(17.5);

            @include media-query(xl-1) {
                margin-right: toRem(15);
            }

            @include media-query(md) {
                padding-top: toRem(6);
                padding-bottom: toRem(16);
                margin-right: toRem(8);
            }
            
            @include media-query(xs-2) {
                max-width: 170px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &__search-box {
            padding-top: toRem(6.5);
            margin-left: toRem(24);
            margin-right: toRem(24);

            @include media-query(xl-1) {
                margin-left: toRem(12);
                margin-right: toRem(12);
            }

            @include media-query(lg) {
                flex: 0 0 auto;
                width: 50%;
                justify-content: flex-end;
                margin-right: 0;
            }

            @include media-query(md) {
                flex: 2;
                width: auto;
                margin-left: toRem(8);
                margin-right: toRem(8);
            }

            .search-mob-button {
                display: none;
                padding-top: toRem(10);
                text-align: right;

                @include media-query(md) {
                    display: block;
                }

                @include media-query(xs-2) {
                    padding-top: toRem(7);
                }
            }

            .search-box {
                @include media-query(md) {
                    width: auto;
                    margin-left: 0;
                    margin-right: auto;
                    max-width: inherit;
                    display: none;
                }
            }
        }

        &__menu-box {
            padding-top: toRem(6.5);
            margin-left: toRem(59.68);
            margin-right: toRem(85);

            @include media-query(xl) {
                margin-left: toRem(35);
                margin-right: toRem(75);
            }

            @include media-query(xl-1) {
                margin-right: toRem(65);
            }

            @include media-query(lg) {
                flex: 0 0 auto;
                width: 55%;
                margin-left: 0;
                margin-right: 0;
            }

            @include media-query(md) {
                // display: none;
                position: absolute;
                display: block;
                width: 100%;
                // max-width: 275px;
                height: auto;
                min-height: 100vh;
                flex: none;
                background-color: $color-neutral-0;
                top: 0;
                left: 0;
                z-index: 20;
                transform: translateX(-100%);
                transition: all 200ms ease-in-out;
            }

            &.show {
                position: fixed;
                transform: translateX(0);
            }

            .nav-link{
                padding: 0 toRem(12);

                @include media-query(lg) {
                    &:first-child {
                        padding-left: 0;
                    }
                }

                @include media-query(md) {
                    padding: 0 toRem(16);
                    
                    &:first-child {
                        padding-left: toRem(15);
                    }
                }

                &--logo {
                    display: none;

                    @include media-query(md) {
                        display: block;
                    }
                }

                &--mobile {
                    display: none;

                    @include media-query(md) {
                        display: block;
                    }
                }

                &--item-close {
                    position: absolute;
                    top: 28px;
                    right: 16px;
                    padding-left: 0;
                    padding-right: 0;
                }

                &--item-group {
                    @include media-query(md) {
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }

                &__item {
                    display: block;
                    color: $color-neutral-80;
                    padding: toRem(9) 0 toRem(29);
                    border-bottom: toRem(2) solid transparent;
        
                    &:hover{
                        color: $color-action-hover;
                    }

                    &--btn {
                        color: $color-action-default;
                        flex: 1;
                        text-align: center;
                        margin-bottom: toRem(16);
                    }
                    
                    &--sign-up {
                        color: $color-neutral-0;
                        background-color: $color-action-press;
                        
                        &:hover {
                            color: $color-neutral-0;
                            background-color: $color-action-hover;
                        }
                    }

                    @include media-query(md) {
                        padding-top: toRem(12);
                        padding-bottom: toRem(12);
                    }
                }

                &__close {
                    img {
                        width: 20px;
                        height: auto;
                    }
                }

                &.active {
                    .nav-link__item {
                        color: $color-action-default;
                        border-bottom-color: $color-action-default;
                    }
                }
            }
        }
    
        &__account-box {
            padding-top: toRem(6.5);
            align-items: flex-start;

            @include media-query(lg) {
                flex: 0 0 auto;
                width: 45%;
            }

            @include media-query(md) {
                display: none;
            }

            .nav-link{
                color: $color-action-default;
                padding: toRem(10) toRem(32);
    
                &:hover{
                    color: $color-action-hover;
                }
            }
            .btn {
                color: $color-neutral-0;
                display: block;
            }
        }

        a{
            text-decoration-line: none;
        }

        &__humberger {
            display: none;
            align-self: center;
            flex-direction: column;
            justify-content: space-between;
            width: 20px;
            height: auto;
            cursor: pointer;

            @include media-query(md) {
                display: flex;
                padding: toRem(10) 0 toRem(12);
                margin: 0 toRem(8);
            }
            
            @include media-query(xs-2) {
                padding-top: toRem(6);
            }
        }

        &__humberger-line {
            align-self: flex-start;
            width: 100%;
            // height: 2px;
            border-top: 2px solid $color-neutral-100;
            margin-bottom: 3px;
            border-radius: 4px;
            display: block;
            margin-top: 0;

            &--middle {
                transition: all 200ms ease-in-out;
            }

            &--bottom {
                width: 12px;
                transition: all 400ms ease-in-out;
            }
        }

        &__humberger:hover {
            .navbar__humberger-line {
                width: 20px;

                &--top {
                    animation: burger-hover 1s ease-in-out alternate;
                }

                &--middle {
                    animation: burger-hover 1s ease-in-out alternate forwards 200ms;
                }

                &--bottom {
                    animation: burger-hover 1s ease-in-out alternate forwards 400ms;
                }
            }
        }

        // Humberger menu animation
        @-webkit-keyframes burger-hover {
            0% {
                width: 100%;
            }
            50% {
                width: 50%;
            }
            100% {
                width: 100%;
            }
        }
        
        @keyframes burger-hover {
            0% {
                width: 100%;
            }
            50% {
                width: 50%;
            }
            100% {
                width: 100%;
            }
        }
    }
}

// .navbar__shadow {
//     background-color: rgba($color-brand-black, 0.85);
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     z-index: 3;
//     margin: auto;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: none;

//     &.show {
//         display: block;
//     }
// }

// .navbar__shadow-close {
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     display: block;
// }
